body {
  background-color: transparent;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("tree.png");
}

#content_aboutus{
  position: relative;
  left: 50px;
  right: 50px;
}

#search{
  position: relative;
  left: 50px;
  right: 50px;
}

#icon{
  position:absolute;
  right: 50px;
  top: 20px;
}
